@import "tailwindcss/base";
@import "tailwindcss/components";


/* Add any custom CSS here */

/* start font family */
@font-face {
  font-family: 'Roboto';
  src: url('./../fonts/roboto/regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Happy-Monkey';
  src: url('./../fonts/happy-monkey/regular.ttf') format('truetype');
}
/* end font family */

/* start social shared */
.social-share-button {
  @apply flex justify-end;
}

.social-share-button .ssb-icon {
  @apply ml-2 first:ml-0 w-8 h-8;
  background-size: 2rem 2rem;
}
/* end social shared */


.transition-nav-menu {
  transition: 350ms;
}

#sidebar-wrapper.active {
  left: 0;
  transition: 350ms;
}

@import "tailwindcss/utilities";
